extends ../../layouts/default.pug

block main
  .page
    .div
      .brand
        .namewatch
          img.image(src="img/image-16.png")
          img.image-2(src="img/image-23.png")
          img.image-3(src="img/image-18.png")
          img.image-4(src="img/image-22.png")
          img.image-5(src="img/image-17.png")
      .sub
        .sub-2
          img.image-7(src="img/image-10.png")
          img.CUSTOM-WATCHES-FOR(src="img/CUSTOM-WATCHES-FOR-ANY-OCCASION.png")
        .sub-3
          img.image-8(src="img/image-3-2.png")
          .text-wrapper-16 OUR STORE
          p.p
            | Memphis clinched a spot in the play-in tournament with the victory, but the fight for seeding continues.
            | The race for the No. 8 spot in the West -- and the safety net of having to win just one of two games to
            | make the playoffs -- could come down to the regular season's final day, when Memphis and Golden State meet.
            | The good thing for the Grizzlies is they don't have to leave home until that matchup as they have games
            | against Dallas and two against Sacramento before the finale.
    .list
      .frame-wrapper
        .frame-2
          .obj
            img.image-9(src="img/image-12.png")
            .citizen-axiome Citizen AxiomE
            .text-wrapper-17 $100.00
          .obj-2
            img.image-10(src="img/image-7.png")
            .text-wrapper-18 Apple Watch Ultra 2
            .text-wrapper-17 $110.00
          .obj-3
            img.image-11(src="img/image-6.png")
            .text-wrapper-19 Xiaomi Readmi W3
            .text-wrapper-17 $90.00
          .obj-4
            img.image-12(src="img/image-5.png")
            .text-wrapper-20 Hampden
            .text-wrapper-17 $89.60
          .obj-5
            img.image-13(src="img/image-21.png")
            .text-wrapper-21 Apple Watch SE AL
            .text-wrapper-17 $50.00
          .obj-6
            img.image-14(src="img/image-8.png")
            .text-wrapper-22 Apple Watch S10
            .text-wrapper-17 $200.00
          .obj-7
            img.image-15(src="img/image-11.png")
            .text-wrapper-19 G-Schock G-Squad
            .text-wrapper-17 $90.00
          .obj-8
            img.image-16(src="img/image-2.png")
            .text-wrapper-23 MK Bradshaw
            .text-wrapper-17 $79.60
      .frame-3
    .list-2
      .frame-wrapper
        .frame-2
          .obj
            img.image-9(src="img/image-12.png")
            .citizen-axiome Citizen AxiomE
            .text-wrapper-17 $100.00
          .obj-2
            img.image-10(src="img/image-5.png")
            .text-wrapper-18 Apple Watch Ultra 2
            .text-wrapper-17 $110.00
          .obj-3
            img.image-11(src="img/image-6.png")
            .text-wrapper-19 Xiaomi Readmi W3
            .text-wrapper-17 $90.00
          .obj-4
            img.image-12(src="img/image-7.png")
            .text-wrapper-20 Hampden
            .text-wrapper-17 $89.60
          .obj-5
            img.image-13(src="img/image-21.png")
            .text-wrapper-21 Apple Watch SE AL
            .text-wrapper-17 $50.00
          .obj-6
            img.image-14(src="img/image-8.png")
            .text-wrapper-22 Apple Watch S10
            .text-wrapper-17 $200.00
          .obj-7
            img.image-15(src="img/image-11.png")
            .text-wrapper-19 G-Schock G-Squad
            .text-wrapper-17 $90.00
          .obj-8
            img.image-16(src="img/image-2.png")
            .text-wrapper-23 MK Bradshaw
            .text-wrapper-17 $79.60
      .frame-3
